





.App {
  
  text-align: center;

}

nav{
  display: flex;
  color: white;
  background-color: rgb(20, 32, 32);
  font-weight: normal;
  justify-content: center;

  

}

nav h1{

  font-weight: normal;
  font-size: 35px;
  margin: 10px;


}


.ships{
  display: inline-block;
  margin: 15px;
  /* row-gap: 15px;
  column-gap: 15px; */
  text-align: center;
  color: white;
  background-color: darkslategray;
  border: solid 1px;
  border-radius: 22px;



}

.ships h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;


  height: 137px;
  width: 333px;
}